<launch>

	<include file="$(find fetch_navigation)/launch/fetch_nav.launch">
	<arg name="map_file"
	value="/home/catkin_ws/src/fetch_robot_assignment/map/playground.yaml"/>
	</include>

	<node pkg="rviz" type="rviz" name="$(anon rivz)"
	args="-d $(find fetch_robot_assignment)/config/fetch_assignment.rviz">
	</node>

</launch>
